<nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-4">

    <div class="container">
        <a class="navbar-brand text-black" href="#"><b>ROSEWOOD HOTEL</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"   aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">        
            <span class="navbar-toggler-icon text-black"></span>      
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mx-auto"></div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-black" href="#"><b>Home</b></a>
                </li>          &nbsp; &nbsp;
                <li class="nav-item">
                    <a class="nav-link text-black" href="/guest/all"><b>Guest</b></a>
                </li>          &nbsp; &nbsp;
                <li class="nav-item">
                    <a class="nav-link text-black" href="/staff/all"><b>Staff </b></a>
                </li>          &nbsp; &nbsp;
                <li class="nav-item">
                    <a class="nav-link text-black" href="/res/all"><b>Reservation</b></a>
                </li>          &nbsp; &nbsp;

                <li class="nav-item active">
                    <a class="nav-link text-black" href="/inventory/all"><b>Inventory</b></a>
                </li> &nbsp; &nbsp;
                <li class="nav-item active">
                    <a class="nav-link text-black" href="authentication/signin"><b>Logout</b></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center">
    <div class="content text-center">
        <br><br>
        </div>
        </div>