<nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-4">
    <!-- 
    <div class="container"> -->
    <a class="navbar-brand text-black" href="#"><b>ROSEWOOD HOTEL</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"   aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">        
            <span class="navbar-toggler-icon text-black"></span>      
        </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="mx-auto"></div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-black" href="inventory/all"><b>Back to InventoryDetails</b></a>

            </li>
        </ul>
    </div>
    <!-- </div> -->
</nav>
<br>
<br>
<br>
<h2>Add Inventory</h2>
<br>
<div class="container min-vh-70 d-flex justify-content-center align-items-center">
    <form [formGroup]="addInventory" (ngSubmit)="SaveData()" #myForm="ngForm">

        <div class="form-group"> <label>Inventory Type</label>
            <input [class.is-invalid]="addInventory.get('inventoryType')?.touched && addInventory.get('inventoryType')?.invalid"  type="text"  class="form-control"  formControlName="inventoryType"  name="inventoryType"  placeholder="Enter InventoryType"  required="required">
                <div *ngIf="addInventory.get('inventoryType')?.touched &&addInventory.get('inventoryType')?.invalid">
                    <small *ngIf="addInventory.get('inventoryType')?.errors!['required']"  class="text-danger">InventoryType is required</small>
</div>
</div>

<div class="form-group"> <label>Inventory Name</label>
    <input [class.is-invalid]="addInventory.get('inventoryName')?.touched && addInventory.get('inventoryName')?.invalid"  type="text"  class="form-control"  formControlName="inventoryName"  name="inventoryName"  placeholder="Enter InventoryName"  required="required">
        <div *ngIf="addInventory.get('inventoryName')?.touched &&addInventory.get('inventoryName')?.invalid">
            <small *ngIf="addInventory.get('inventoryName')?.errors!['required']"  class="text-danger">inventoryName is required</small>
                </div>
                </div>

                <div class="form-group"> <label>Inventory Quantity </label>
                    <input [class.is-invalid]="addInventory.get('inventoryQuantity')?.touched && addInventory.get('inventoryQuantity')?.invalid"  type="number"  class="form-control"  formControlName="inventoryQuantity"  name="inventoryQuantity"  placeholder="Enter InventoryQuantity"
                         required="required">
                        <div *ngIf="addInventory.get('inventoryQuantity')?.touched &&addInventory.get('inventoryQuantity')?.invalid">
                            <small *ngIf="addInventory.get('inventoryQuantity')?.errors!['required']"  class="text-danger">inventoryQuantity is required</small>
                                </div>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-success" [disabled]="!myForm.form.valid">Submit</button>
                                </form>
                                </div>