<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-4">
        <div class="container">
            <a class="navbar-brand text-black" href="#"><b>ROSEWOOD HOTEL</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"   aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">        
            <span class="navbar-toggler-icon text-black"></span>      
        </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="mx-auto"></div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-black" href="#"><b>Home</b></a>
                    </li>          &nbsp; &nbsp;
                    <li class="nav-item">
                        <a class="nav-link text-black" href="#about"><b>About us</b></a>
                    </li>          &nbsp; &nbsp;
                    <li class="nav-item">
                        <a class="nav-link text-black" href="#gallery"><b>Gallery</b></a>
                    </li>          &nbsp; &nbsp;
                    <li class="nav-item">
                        <a class="nav-link text-black" href="#contact"><b>Contact</b></a>
                    </li>          &nbsp; &nbsp;
                    <li class="nav-item active">
                        <a class="nav-link text-black" href="authentication/signin"><b>Login</b></a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center">
    <div class="content text-center">
        <br><br>
    </div>
</div>

<div class="container my-5 d-grid gap-5 content text-center" id="about">
    <div class="p-5 border">
        <div class="fade-scroll">
            <br>
            <h2>About us</h2>
        </div><br>
        <p class="animation appears-delayed text-black"> Rosewood Hotels & Resorts® manages 30 one-of-a-kind luxury hotels, resorts and residences in 18 countries, with 25 new properties under development. Each Rosewood property embraces the brand’s A Sense of Place® philosophy to reflect the individual
            location’s history, culture and sensibilities. The Rosewood collection includes some of the world’s most legendary hotels and resorts, including The Carlyle, A Rosewood Hotel in New York, Rosewood Mansion on Turtle Creek in Dallas and Hôtel
            de Crillon, A Rosewood Hotel in Paris, as well as new classics such as Rosewood Hong Kong. For those who wish to stay a little longer, Rosewood Residences offer a distinct opportunity for ownership or rent in extraordinary destinations within
            the brand’s wide-ranging portfolio.
        </p><br>
        <button class="button-css-contact" onclick="window.location.href='#contact'">CONTACT US</button>
    </div>  </div>

<!-- Gallery -->
<div class="container my-5 d-grid gap-5 content text-center"  id="gallery">
    <div class="container-xl">
        <div class="row">
            <div class="col-md-9  mx-auto">
                <div class="fade-scroll">
                    <h2>    Take A Look At Our Gallery</h2>
                    </div>
                    <br>`
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="img-box">
                                <img src="/assets/image/hotel1.jpg"  class="img-fluid"  alt=""></div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="img-box">
                                            <img src="/assets/image/hotel2.jpg"  class="img-fluid"  alt=""></div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="img-box">
                                                        <img src="/assets/image/hotel4.jpg"  class="img-fluid"  alt="">
                                                            </div>
                                                            </div>
                                                            </div><br>
                                                            <div class="row">
                                                                <div class="col-sm-4">
                                                                    <div class="img-box">
                                                                        <img src="/assets/image/hotel5.jpg"  class="img-fluid"  alt=""></div>
                                                                            </div>
                                                                            <div class="col-sm-4">
                                                                                <div class="img-box">
                                                                                    <img src="/assets/image/hotel6.jpg"  class="img-fluid"  alt=""></div>
                                                                                        </div>
                                                                                        <div class="col-sm-4">
                                                                                            <div class="img-box">
                                                                                                <img src="/assets/image/hotel8.jpg"  class="img-fluid"  alt=""></div>
                                                                                                    </div>
                                                                                                    </div>
                                                                                                    </div>
                                                                                                    </div>
                                                                                                    </div>


                                                                                                    <!-- Contact us -->
                                                                                                    <!-- Contact Us Section -->

                                                                                                    <section class="contact-us" id="contact">
                                                                                                        <div class="container" style="margin-bottom: -50px;">
                                                                                                            <div class="row">
                                                                                                                <div class="col-md-12 text-white text-center" style="margin-top: -10px;">
                                                                                                                    <h2>CONTACT US</h2>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <br>
                                                                                                            <div class="card" style="width: 18rem;">
                                                                                                                <img class="card-img-top" src="assets/image/contact.png" alt="Card image cap">
                                                                                                                <div class="card-body">
                                                                                                                    <h4>Address:</h4>
                                                                                                                    <p class="card-text">New Timberyard Layout,<br> 19/1, ,<br> South Atoll, Dhidhoofinolhu, Maldives•+960 668-0901</p>
                                                                                                                    <h4>Phone Number:</h4>
                                                                                                                    <p>9876549853</p>
                                                                                                                    <h4>Email id:</h4>
                                                                                                                    <p>rosewood@gmail.com</p>
                                                                                                                </div>
                                                                                                            </div>

                                                                                                            <footer class="page-footer font-small blue">


                                                                                                                <div class="footer-copyright text-center py-3">
                                                                                                                    <h2>#RWJOURNEYS</h2>

                                                                                                                </div>


                                                                                                            </footer>