<!-- <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head> -->
<!-- <h2>Room List</h2>
<br>
<div>
    <a [routerLink]="['/room/add']"  class="text-primary">
        <button class="btn btn-success"><i class="material-icons" id="add">&#xe7fe;</i>Add Room</button></a>&nbsp;
</div>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>roomNumber</th>
            <th>roomType</th>
            <th>roomStatus</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let room of rooms">
            <td> {{room.roomNumber}}</td>
            <td> {{room.roomType}}</td>
            <td> {{room.roomStatus}}</td>
            <td>
                <a [routerLink]="['/room/update', room.roomNumber]"  class="text-success">
                    <i class="material-icons"  id="cart">&#xf88d;</i>
                        </a>&nbsp;
                        <a (click)="deleteRoom(room.roomNumber)" role="button" class="text-danger">
                            <i class="material-icons"  id="cart">&#xe872;</i>
                        </a>&nbsp;
            </td>

        </tr>
    </tbody>
</table> -->
<!-- <br><br>
<div class="row">
    <div class="column">
        <img src="assets/image/Single.jpg" style="width:100%">
        <h3>Single room</h3>
        <p class="price">Rs.1000/-</p>
        <p><button>Book now</button></p>
    </div>
    <div class="column">
        <img src="assets/image/hotel4.jpg" style="width:100%">
        <h3>Double cot</h3>
        <p class="price">Rs.2000/-</p>
        <p><button>Book now</button></p>
    </div>
    <div class="column">
        <img src="assets/image/triple.jpg" style="width:100%">
        <h3>Triple cot</h3>
        <p class="price">Rs.3000/-</p>
        <p><button>Book now</button></p>
    </div>

    <div class="row">
        <div class="column">
            <img src="assets/image/Deluxe.jpg" style="width:100%">
            <h3>Deluxe</h3>
            <p class="price">Rs.4000/-</p>
            <p><button>Book now</button></p>
        </div>
        <div class="column">
            <img src="assets/image/suite.jpg" style="width:100%">
            <h3>Suite room</h3>
            <p class="price">Rs.5000/-</p>
            <p><button>Book now</button></p>
        </div>
        <div class="column">
            <img src="assets/image/honeymoon.jpg" style="width:100%">
            <h3>honeymoonsuite</h3>
            <p class="price">Rs.7000/-</p>
            <p><button>Book now</button></p>
        </div>
    </div> -->
<!-- 
<h2>Room Types</h2>
<br><br>
<div class="row">
    <div class="column">
        <img src="assets/image/Single.jpg" style="width:100%">
        <h3>Single room</h3>
        <p class="price">Rs.1000/-</p>
        <p><button (click)=" SaveData()">Book now</button></p>
    </div>
    <div class="column">
        <img src="assets/image/hotel4.jpg" style="width:100%">
        <h3>Double cot</h3>
        <p class="price">Rs.2000/-</p>
        <p><button (click)=" SaveData()">Book now</button></p>
    </div>
    <div class="column">
        <img src="assets/image/triple.jpg" style="width:100%">
        <h3>Triple cot</h3>
        <p class="price">Rs.3000/-</p>
        <p><button (click)=" SaveData()">Book now</button></p>
    </div>
</div>
<br><br>
<div class="row">
    <div class="column">
        <img src="assets/image/Deluxe.jpg" style="width:100%">
        <h3>Deluxe</h3>
        <p class="price">Rs.4000/-</p>
        <p><button (click)=" SaveData()">Book now</button></p>
    </div>
    <div class="column">
        <img src="assets/image/suite.jpg" style="width:100%">
        <h3>Suite room</h3>
        <p class="price">Rs.5000/-</p>
        <p><button (click)=" SaveData()">Book now</button></p>
    </div>
    <div class="column">
        <img src="assets/image/honeymoon.jpg" style="width:100%">
        <h3>honeymoonsuite</h3>
        <p class="price">Rs.7000/-</p>
        <p><button (click)=" SaveData()">Book now</button></p>
    </div>
</div> -->