<!-- <h2>Add Rooms</h2>
<div class="container min-vh-80 d-flex justify-content-center align-items-center">
    <form [formGroup]="addRoom" (ngSubmit)="SaveData()">

        <div class="mb-3">
            <label for="roomType" class="form-label">Room Type</label>
            <select class="custom-select"  name="roomType"  class="form-control"  formControlName="roomType" placeholder="roomType"  required="required">>
                <option value="singlecot">Single Cot</option>
                <option value="doublecot">Double Cot</option>
                <option value="deluxe">Deluxe</option>
                <option value="suite room"> Suite Room</option>
                <option value="bridalsuite">Bridal suite</option>
                <option value="honeymoonsuite">Honeymoon suite</option>

                </select>
        </div>

        <div class="mb-3">
            <label for="roomStatus" class="form-label">Room Status</label>
            <select class="custom-select"  name="roomStatus"  class="form-control"  formControlName="roomStatus" placeholder="roomStatus"  required="required">>
                <option value="available">Available</option>
                <option value="unavailable">Unavailable</option>
                </select>

        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        </form>
</div> -->
<h2>Room Types</h2>
<br><br>
<div class="row">
    <div class="column">
        <img src="assets/image/Single.jpg" style="width:100%">
        <h3>Single cot</h3>
        <!-- <p class="price">Rs.1000/-</p>
        <p><button (click)=" SaveData()">Book now</button></p> -->
    </div>
    <div class="column">
        <img src="assets/image/hotel4.jpg" style="width:100%">
        <h3>Double cot</h3>
        <!-- <p class="price">Rs.2000/-</p>
        <p><button (click)=" SaveData()">Book now</button></p> -->
    </div>
    <div class="column">
        <img src="assets/image/triple.jpg" style="width:100%">
        <h3>Triple cot</h3>
        <!-- <p class="price">Rs.3000/-</p>
        <p><button (click)=" SaveData()">Book now</button></p> -->
    </div>
</div>
<br><br>
<div class="row">
    <div class="column">
        <img src="assets/image/Deluxe.jpg" style="width:100%">
        <h3>Deluxe</h3>
        <!-- <p class="price">Rs.4000/-</p>
        <p><button (click)=" SaveData()">Book now</button></p> -->
    </div>
    <div class="column">
        <img src="assets/image/suite.jpg" style="width:100%">
        <h3>Suite room</h3>
        <!-- <p class="price">Rs.5000/-</p>
        <p><button (click)=" SaveData()">Book now</button></p> -->
    </div>
    <div class="column">
        <img src="assets/image/honeymoon.jpg" style="width:100%">
        <h3>honeymoonsuite</h3>
        <!-- <p class="price">Rs.7000/-</p>
        <p><button (click)=" SaveData()">Book now</button></p> -->
    </div>
</div>